<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
   <link rel="stylesheet" href="style.css">
   
</head>
<body>
     <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Me</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="interest.html">Interest</a></li>
        </ul>
    </nav>
    <h1>Introduction</h1>
    <p>This is Jagadip lamsal.I am very excited to create my first website.</p>
    <img src="jagadip.jpg" height="150px" width="150px">
    
    <h1><u>Life Event</u></h1>
    <dl>
        <dt>March 12th</dt>
        <dd>-Born</dd>
        <dt>2007</dt>
        <dd>High School Graduation</dd>
        <dt>2008</dt>
        <dd>-CollegeStarted</dd>
        <dt>2015</dt>
        <dd>-College Graduatioon</dd>
    </dl>
    <h1><u>Skills</u></h1>
    <ul>
        <li>Html</li>
        <li>Chef</li>
        <li>Graphic Design</li>
        <li>Networking</li>
    </ul>
    <h1><u>Education</u></h1>
    <table>
    
        <tr>
            <th>Year</th>
            <th>Education</th>
         </tr>
    
    <tbody>
        <tr>
            <td>2007</td>
            <td>High School Graduation</td>
        </tr>
        <tr>
            <td>2008</td>
            <td>College Started</td>
        </tr>
        <tr>
            <td>2015</td>
            <td>College Graduation</td>
        </tr>
    </tbody>
    </table>
    <h2><u>My favourite class videos</u></h2>
    <iframe width="300" height="300" src="https://www.youtube.com/embed/dFb9PYj63GA?si=WpKB3kvgTxBELOC3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="300" height="300" src="https://www.youtube.com/embed/8eobtm_1x2I?si=VbJU9S0KYbQ_1CtX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</body>
</html>